# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Trinity\Academics\SP2021\CSCI-1321-3 Principles Computer Science II\graphic-game-s21-aahmad09\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
